.contact-us-container {
  background-image: url('https://rubixe.com/img/contact_us.jpg');
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.absolute {
  position: fixed;
  width: 100%;
}

.contact-page-icons {
  font-size: 40px;
  color: #0390fc;
}

.details-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.details {
  width: 30%;
}

.body-content-container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.contact-para-details {
  font-size: 10px;
}

.contact-title {
  color: #42b0f5;
  font-weight: 600;
}

.text-content-details {
  width: 600px;
}
